html {
  background-color: purple;
}

body {
  background: rgba(94, 82, 255, 0.7);
  width: 500px;
  padding: 25px 100px;
  margin: 25px auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
  border: 2px solid red;
}

button {
  padding: 15px 20px;
  margin: 10px;
  border: 2px solid purple;
  background: purple;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

p {
  font-size: 20px;
}

#dice-menu {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px;
  font-size: large;
  margin-bottom: 20px;
}

#dice-number {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px;
  font-size: large;
  margin-bottom: 20px;
}

#dice-rolls {
  border: 3px purple solid;
  width: 400px;
  margin: auto;
}

#math-game {
  border: 3px purple solid;
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

#dice {
  border: purple solid 3px;
  width: 400px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  background: black;
}

span {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  display: inline-block;
}

#button-roll {
  border-radius: 15%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  color: white;
  border: purple solid 3px;
  background: purple;
}

#button-theme {
  border-radius: 15%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  color: white;
  border: purple solid 3px;
  background: purple;
}

#button-reset {
  border-radius: 15%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  color: white;
  border: purple solid 3px;
  background: purple;
}

#button-change {
  border-radius: 15%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  color: white;
  border: purple solid 3px;
  background: purple;
}

#button-roll:hover {
  background: white;
  color: purple;
}

#button-reset:hover {
  background: white;
  color: purple;
}

#button-change:hover {
  background: white;
  color: purple;
}

#button-theme:hover {
  background: white;
  color: purple;
}

select {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

img {
  width: 150px;
  transform: rotate(0);
  margin: 10px;
}

#dice-display {
  background: black;
}
